@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
:root {
  --primary-color: #4d536e;
  --primary-hover: #5a5b72;
  --secondary-color: #333745;
  --background-body: #ffffff;
}
body {
  font-family: "Roboto";
  background-color: var(--background-body);
}
.modal-header {
  border: none;
  padding-bottom: 0;
  justify-content: center;
}
.modal-title {
  color: var(--secondary-color);
  margin: 1rem 0;
  font-size: large;
}
.modal-content {
  border: none;
  margin-top: 20rem;
  box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.253);
}
.modal-footer {
  border: none;
}
.inputs-holder {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}
.labels-ls {
  align-self: baseline;
  padding: 1rem 0 0 0;
}
.inputs-holder label {
  font-weight: 400;
}
.inputs-ls {
  border: none;
  border-bottom: 1px solid rgb(189, 189, 189);
  padding: 0.5rem;
  border-radius: none;
  outline: none;
}
.signup-button {
  padding: 1rem 1.25rem;
  font-size: medium;
  border: 1px solid var(--primary-color);
  border-radius: 3px;
  background-color: var(--primary-color);
  color: white;
  width: 100%;
  margin: 2rem 2rem;
}
.signup-button:hover {
  background-color: var(--primary-hover);
  border-color: var(--primary-hover);
}
.fade {
  opacity: 1;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0.5;
}
.modal-dialog {
  max-width: 45rem;
}
